.App {
  background-image: url(./media/white_bg.jpg);
  background-position: center;
  text-align: center;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
}

.App-link {
  font-family: "Audiowide", cursive;
  color: #000000;
}

.Link-panel {
  padding-bottom: 600px;
}
.player-wrapper {
  position: absolute;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
